name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 24.x ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Lint code
        run: npm run lint

      - name: Build Core
        run: npm run build core

      - name: Create Artifact for @mosa-ng/core
        uses: actions/upload-artifact@v6
        with:
          name: mosa-ng-core
          path: dist/@mosa-ng/core

      - name: Build Material
        run: npm run build material

      - name: Create Artifact for @mosa-ng/material
        uses: actions/upload-artifact@v6
        with:
          name: mosa-ng-material
          path: dist/@mosa-ng/material

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    if: success() && github.event_name == 'pull_request' && startsWith(github.head_ref, 'build/release')
    # REQUIRED for OIDC
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Use Node.js 24.x
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          registry-url: 'https://registry.npmjs.org'

      - name: Get Artifacts
        uses: actions/download-artifact@v7
        with:
          path: artifacts

      - name: Publish @mosa-ng/core
        run: npm publish --access public --provenance
        working-directory: artifacts/mosa-ng-core
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }} # setup-node uses this for OIDC automatically

      - name: Publish @mosa-ng/material
        run: npm publish --access public --provenance
        working-directory: artifacts/mosa-ng-material
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
